.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.about-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.about-section p {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.about-section p:last-of-type {
  margin-bottom: 1.5rem;
}

.resume-button {
  width: fit-content;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.resume-button:hover {
  background-color: #a3a3a3;
}
