.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #3f3f46;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.social-icon:hover {
  background-color: #52525b;
}
