body {
    background-color: #12355bff;
    color: #eaf6ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.game-container {
    text-align: center;
    background-color: #1c4966;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #00000033;
    width: 90%;
    max-width: 400px;
}
h1 {
    margin-bottom: 10px;
}
.input-container {
    margin: 20px 0;
}
input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    border: 1px solid #eaf6ffff;
    border-radius: 5px;
    margin-right: 10px;
}
button {
    padding: 10px 15px;
    font-size: 1em;
    color: #12355bff;
    background-color: #eaf6ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}
ul li {
    background-color: #eaf6ffff;
    color: #12355bff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 0.9em;
}
