body {
    background-color: #12355bff;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 20px;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
.PageTitle {
    color: #eaf6ffff;
    font-size: 2em;
    text-align: center;
    margin: 0px;
}
/* Nav */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaf6ffff;
    padding: 10px 20px;
    z-index: 10;
}
.menu {
    display: none;
    background: none;
    border: none;
    color: #12355bff;
    font-size: 1.5em;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
nav a {
    color: #12355bff;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover {
    text-decoration: underline;
}
.language-selector {
    margin-left: auto;
}
.language-selector select {
    background-color: #eaf6ffff;
    color: #12355bff;
    border: none;
    padding: 5px;
    cursor: pointer;
}
/* About Me */
.AboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px 0px;
    border-bottom: 1px solid #eaf6ffff;
}
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.image-container img {
    max-width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 100%;
}
.welcome-message {
    color: #eaf6ffff;
    text-align: center;
    margin: 20px;
}
.welcome-message h1 {
    font-size: 2.5em;
    margin: 10px;
}
.welcome-message p {
    font-size: 1.2em;
    margin: 20px;
}
/* Projects */
.Projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eaf6ffff;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf6ffff;
    color: #12355bff;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 4px 8px #00000033;
    min-height: 500px; 
}
.project-card h3 {
    font-size: 1.5em;
    margin: 5px;
}
.project-card img {
    width: 85%; 
    min-height: 100px; 
    object-fit: cover;
    border-radius: 10px;
}
.project-card p {
    flex-grow: 1;
    margin: 10px;
}
.project-card button {
    margin-top: auto; 
    position: relative;
    background-color: #12355bff;
    color: #eaf6ffff;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
.project-card button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Contact */
.Contact {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #eaf6ffff;
}
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.contact-container h3 {
    font-size: 1.5em;
    color: #eaf6ffff;
    margin: 5px;
}
.Contact p {
    font-size: 1.2em;
    color: #eaf6ffff;
    margin: 5px;
}
.social-media ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}
.social-media ul li {
    margin: 0px 10px;
}
.social-media img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}
.social-media ul li img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 50%; 
}
.contact-form label {
    margin-top: 15px;
    font-size: 1em;
    color: #eaf6ffff;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #eaf6ffff;
    border-radius: 5px;
    font-size: 1em;
    resize: none;
}
.contact-form button {
    background-color: #eaf6ffff;
    color: #12355bff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    align-self: center; 
    font-size: 1em;
    cursor: pointer;
}
.contact-form button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* Skills */
.Skills {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #eaf6ffff;
}
.skills-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.skills-category {
    width: 45%;
    text-align: center;
}
.skills-category h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #eaf6ffff;
}
.skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 15px;
}
.skills-icons li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px 10px;
    background-color: #eaf6ffff;
    color: #12355bff;
    border-radius: 10px;
}
.skills-icons li:hover {
    transform: scale(1.1);
    cursor: default;
}
/* Caber no Celular */
@media (max-width: 768px) {
    body {
        padding: 50px 0px 20px 0px;
    }
    /* Nav */
    .menu {
        display: block;
    }
    nav ul {
        display: none;
        background-color: #eaf6ffff;
        flex-direction: row;
        position: absolute;
        justify-content: center;
        top: 60px;
        left: 0;
        right: 0;
        padding: 10px 0;
        border-radius: 10px;
    }
    nav ul.show {
        display: flex;
    }
    nav ul li {
        margin: 0 5px; 
    }
    nav a {
        font-size: 0.9em; 
    }
    .language-selector {
        margin-top: 10px; 
    }
    /* About Me */
    .AboutMe {
        flex-direction: column; 
        text-align: center;
        padding: 10px;
        margin: 10px 0px;
    }
    .image-container img {
        width: 80%; 
        margin-bottom: 20px;
    }
    .welcome-message {
        padding: 0 10px; 
    }
    /* Projects */
    .Projects {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 10px 0px; 
    }
    .project-card {
        width: 90%;
        margin-bottom: 20px;
    }
    .project-card img {
        width: 100%; 
        height: auto;
    }
    /* Contact */
    .Contact {
        padding: 10px; 
        margin: 10px 0px; 
    }
    .contact-container {
        flex-direction: column; 
        align-items: center;
    }
    .social-media ul {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .social-media ul li {
        margin-bottom: 5px; 
    }
    .contact-form {
        width: 90%;
    }
    .contact-form form {
        width: 80%;
    }
    /* Skills */
    .Skills {
        padding: 10px; 
        margin: 10px 0px;
    }
    .skills-categories {
        flex-direction: column;
        align-items: center;
    }
    .skills-category {
        width: 90%; 
        margin-bottom: 10px;
    }
    .skills-icons {
        justify-content: center;
        flex-wrap: wrap;
    }
}